@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-title {
  margin-left: 3rem;
}

.cont {
  flex: 1;
}

/* Header */
.navbar {
  background-color: white;
  height: 4rem;
  margin-bottom: 1rem;
}

.navbar-brand {
  color: #ff5a5f !important;
  font-weight: 650;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
footer {
  margin-top: 5rem !important;
}

.f-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: #f1f1f1;
}

.f-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 0.3rem;
}

.f-links a:hover {
  text-decoration: underline;
}

.f-links {
  margin-top: -15px;
}

.f-social i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.copy {
  font-size: 1.1rem;
}

/* Listings Cards */
.card {
  /* margin-top: 1rem; */
  padding: 1rem;
  border: none;
  border-radius: 1rem !important;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.listing-card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-radius: 1rem !important;
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.card-body {
  padding: 0.75rem 0 0 0;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.15;
  background-color: white;
}

/* buttons */
.add-btn,
.update-btn,
.edit-btn {
  color: white !important;
  background-color: #ff5a5f !important;
}

/* Show page */
.show-card {
  border: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.show-img {
  border-radius: 1rem !important;
  height: 50vh;
}

#low-quality-image {
  border-radius: 5px;
  width: 250px;
  height: 150px;
  object-fit: cover;
}

/* Map */
#map {
  height: 400px;
  width: 65vw;
  border-radius: 5px;
}

/* Filter Bar */
#filters {
  margin: 0 3rem;
  display: flex;
  flex-wrap: wrap;
}
.filter {
  margin-right: 1.5rem;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
}
.filter:hover {
  opacity: 1;
}
.filter p {
  font-size: 0.9rem;
}

.tax-info {
  display: none;
}
.tax-toggle {
  border: 1px solid rgba(208, 208, 208, 0.629);
  border-radius: 1rem;
  height: 2.7rem;
  padding: 0.5rem 0.7rem;
  display: flex;
  align-items: center;
}
