<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h2 class="mb-3">Signup</h2>

        <form method="POST" action="/signup" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username" required class="form-control">
                <div class="invalid-feedback">Please enter the username</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" required class="form-control">
                <div class="invalid-feedback">Please enter the email</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required class="form-control">
                <div class="invalid-feedback">Please enter the password</div>
            </div>

            <button class="btn add-btn">Sign up</button>
        </form>
    </div>
</div>